/* Write your CSS code here */
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .product-img {
    height: 300px;
    width: 400px;
  }
}

@media screen and (max-width: 767px) {
  .product-img {
    height: 300px;
    width: 270px;
  }
}
